.bg-hero-image {
background-image: url("Box1.jpg");
background-position:center center;
}
.border-gallery {
    border-bottom: 5px solid rgb(0, 103, 129);
    width: 70vw;
}
.foot {
    background-color: rgb(189, 189, 189);

}
.border-1 {
    border: 10px solid rgb(0, 103, 129);
}

body {
    background-repeat: no-repeat;
    background-image: linear-gradient(black,black);
}
.text1 {
    font-family: 'Edu_TAS_Beginner';
    font-weight: 1000;
    font-size: 175%;
    text-shadow: 5px 5px 5px #d6e4e7;
}
.text2 {
    font-family: 'Edu_TAS_Beginner';
    font-weight: 500px;
    text-shadow: 2px 2px 5px #414141;
}
.borderclass1 {
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 3vw 3vw 5vw rgb(104, 104, 104);
}
.borderclass2 {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 1.5vw 1.5vw 2.5vw rgb(138, 138, 138);
}

  .navv {
background-color: #6e6e6e;
border-bottom: 2px solid rgb(201, 201, 201);
  }
  .m0 {
    margin: 0;
    width: 100%;
  } 
  
  
  
  
  
  
  
  